/* Your card CSS code here */
.card {
  height: 250px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-size: cover;
  color: #fff;
  position: relative;
  border-radius: 5px;

  &-icons-flexbox {
    display: flex;
    align-items: center;
   justify-content: space-between;
  }

  &--flexitem {
    flex: 1 1 auto;
  }

  &-content:hover {
    opacity: 0.9;
  }

  &-content {
    .city {
      position: absolute;
      letter-spacing: 1px;
      top: 10px;
      left: 10px;
      font-size: 18px;
    }

    .main-content {
      position: absolute;
      bottom: 10px;
      left: 10px;

      h2 {
        font-size: 22px;
        margin-bottom: 20px;
        font-weight: bold;
      }

      p {
        font-weight: lighter;
        font-size: 15px;
      }
    }

    .avatar {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-size: cover;
    }
  }
}

.wrapper {
  margin-top: 50px;

  &-grey {
    background: $gray;
  }
}

.link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  opacity: 0;
  background: black;

  &:hover {
    opacity: 0.1;
  }
}

.cards-text {
  font-weight: bold;
  color: black;
  font-size: 26px;
}

