<!-- Your banner code -->
<div class="banner flexbox-banner text-center">
  <div class="container">
    <div class="row">
      <h1>WELCOME HOME</h1>
      <h2>Rent unique places to stay from local hosts in 190+ countries.</h2>
      <div class="btn btn-primary btn-lg">How it works</div>
    </div>
  </div>
</div>

<!-- Your features code -->
<div class="features text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <img src="images/globe.png" alt="">
        <h2>Discover the World</h2>
        <p>The earth is your new home.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <img src="images/dollar.png" alt="">
        <h2>Pay online</h2>
        <p>No cash issues anymore.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <img src="images/beer.png" alt="">
        <h2>Meet people</h2>
        <p>Discover new culture and lifestyle.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <img src="images/heart.png" alt="">
        <h2>Shanre and love</h2>
        <p>Join a community you will love.</p>
      </div>
    </div>
  </div>
</div>

<!-- Your cards code -->
<div class="wrapper-grey padded">
  <div class="container">
    <div class="row">
    <h2 class="cards-text">Your next trip</h2>

      <div class="col-xs-12 col-sm-4">
        <div class="card img-responsive" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-paris.jpg');">
          <%= link_to "", '#', class: 'link' %>
          <div class="card-content">
            <div class="city">Paris</div>
            <div class="main-content">
              <h2>Sab's Home</h2>
              <p>Charming room with patio</p>
            </div>
            <div class="avatar img-responsive img-rounded" style="background-image: url('images/seb.jpg');">
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card img-responsive" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-brussels.jpg');">
          <%= link_to "", '#', class: 'link' %>
          <div class="card-content">
            <div class="city">Brussels</div>
            <div class="main-content">
              <h2>Anne's Home</h2>
              <p>Lovely house</p>
            </div>
            <div class="avatar img-responsive img-rounded" style="background-image: url('images/anne.jpg');">
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card img-responsive" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-london.jpg');">
          <%= link_to "", '#', class: 'link' %>
          <div class="card-content">
            <div class="city">London</div>
            <div class="main-content">
              <h2>Homain's Home</h2>
              <p>Nice flat in Piccadilly</p>
            </div>
            <div class="avatar" style="background-image: url('images/romain.jpg');"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Your newsletter code -->
<div class="newsletter text-center">
  <div class="container">
    <div class="row">
      <h2>Get news from us</h2>
      <p>Leave us your mail and get news from us</p>
      <form action="#" class="from-inline">
        <div class="form-grop">
          <input type="text" placeholder="bob@gmail.com">
          <div class="btn btn-primary">Subscribe</div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Your map code -->
<!-- <div id="map"></div> -->
<iframe
  width="100%"
  height="500"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAiaN3GvQZMAMJft0Tqsnu9Joia3lahxi8
    &q=EBAC,Sao+paulo+SP" allowfullscreen>
</iframe>
